@media screen and (max-width: 1100px) {}

@media screen and (max-width: 900px) {
    header {
        height: 60px;
    }

    .all-tables {
        display: block;

    }

    .wrapper {
        position: relative
    }

    .table-capacity {
        margin-bottom: 50px;
    }

    br {
        display: none;
    }

    body {

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 80px;
    }

    .open-popup {
        margin-top: 20px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 22px;
    }

    .my_foto {
        width: 120px;
    }
}

@media screen and (max-width: 540px) {
    header {
        height: 40px;
    }

    h1 {
        font-size: 22px;
    }

    body {
        background-image: url("../img/wrapper-mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 80px;
    }

    .main-content {
        padding: 4px 20px 0px 20px;
        margin-bottom: 0vmax;
    }

    footer {
        padding: 4px 20px 0px 20px;
        margin-bottom: 0vmax;
    }

    .contacts {
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
    }

    .my_foto {
        width: 120px;
    }

    .logo {
        margin-right: 40px;
    }

    .popup {
        width: 300px
    }
}

@media screen and (max-width: 380px) {
    body {

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 70px;
        font-size: 12px;
    }




    .header-container {}

    .language-switcher {}

    h1 {
        font-size: 16px;
    }


    .main-content {
        padding: 4px 20px 0px 20px;
        margin-bottom: 0vmax;
    }


    footer {
        padding: 4px 20px 0px 20px;
        margin-bottom: 0vmax;
        width: 100%;
    }

    .contacts {
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
    }

    .my_foto {
        width: 120px;
    }

    .logo {
        margin-right: 40px;
    }

    .popup {
        width: 300px
    }

    .open-popup {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}